[submodule "llvm"]
	path = llvm
	url = ./llvm.git
[submodule "compiler-rt"]
	path = compiler-rt
	url = ./compiler-rt.git
[submodule "clang"]
	path = clang
	url = ./clang.git
[submodule "newlib"]
	path = newlib
	url = ./newlib.git
