[submodule "llvm"]
	path = llvm
	url = ../llvm
[submodule "compiler-rt"]
	path = compiler-rt
	url = ../compiler-rt
[submodule "clang"]
	path = clang
	url = ../clang
[submodule "newlib"]
	path = newlib
	url = ../newlib
