[submodule "llvm"]
	path = llvm
	url = git@github.com:eblot/llvm.git
[submodule "compiler-rt"]
	path = compiler-rt
	url = git@github.com:eblot/compiler-rt.git
[submodule "clang"]
	path = clang
	url = git@github.com:eblot/clang.git
